numpy>=1.12
dynaconf==2.2.3
pandas>=0.24.2
loguru==0.4.1
transformers[sentencepiece]>=4.25
datasets>=1
evaluate
tqdm==4.46.0
scipy>=1.2
torch==1.4.0
prefect==0.11.1
overrides==1.9
scikit_learn==0.24.2
